confluent-kafka==1.9.2
requests
fastavro
redis
boto3
adsingestp @ git+https://github.com/adsabs/ADSIngestParser.git@b1b18900e5c70b0c3f044443bed53b53c73942f4
adsingestschema @ git+https://github.com/adsabs/ingest_data_model@94e2042aee20958d43e83b33d6b3a05734b5a09e